.logo {
    background: left / cover url('/media/examples/puppy-header-logo.jpg');
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
    color:#A49393;
	background-color:#67595E;
    text-shadow: #000 2px 2px 0.2rem;
	font-size:100px;
	}

header > h1 {
    margin-bottom: 0;
}

header > time {
    font: italic 0.7rem sans-serif;
}
img{
	height:150px;
	width:200px;
	width:180px;
	height:200px;
	
}
.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	list-style:none;
}
iframe{
	height:400px;
	width:510px;
}


 .menu  li{display:inline;
}
a{color:#000;
	float: center;
	padding:5px 15px;
	text-decoration:none;
	font-size:25px;

}
a:hover{
	color:#A49393;
	background-color:#67595E;
}
.fu{margin-top:45px;
        background-color: #67595E;
        border: .5px #67595E9;
        border-radius: 10px;
        color: #A49393;
        padding: 8px;
        box-shadow: 0 0 30px 0 #A49393,
                    0 0 30px 0 #A49393,
                    0 0 10px 0 #A49393 inset;
}
.dropdown{display:none;}


.show:hover   .dropdown{
	
	display:block;
	}
	body{
  font-family:"Arial","Helvetica";
  font-size:15px;
  margin:3% 0% 0% 0%;
  padding:0;
}
img{
  max-width:100%;
  border-radius:20px;
  object-fit: cover;
}

h1{
  font-size:75px;
}

h1{
  color:#000;
}

h3{
  font-size:26px;
  background:linear-gradient(to left,#5d5d5d,#ddd);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

p{
  color:#5d5d5d;
  text-indent:15px;
}
.page-header,.articles{
  margin-top:15%;
}
.page-header{
  margin-right:5%;
  margin-left:5%;
  text-align:center;
}

.articles{
  margin-left:12%;
  margin-right:12%;
}

.article-item{
  display:flex;
  align-items:center;
}

.article-item .article-img,.article-item .article-text{
  flex:50%;
}

.article-item .article-text p{
  text-align:justify;
}

.article-item:nth-child(odd){
  flex-direction:row-reverse;
}
@media (max-width:991px){
  .article-item,.article-item:nth-child(odd){
    flex-direction:column-reverse;
  }
}

@media (max-width:575px){
  body{
    
    margin:0;
  }
  
  h1{
    color:#000;
  }
  
  h3{
    background: #484747;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
  }
}
body{
	background:#EED6D3;
}
.article-text{
	background-color:#d9a39c;
	background:linear-gradient(to left,#A49393,#67595E);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;;
}
.news-post {
	display: flex;
	justify-content: center;
}
footer {
    text-align:center;
    padding: 5px;
    background-color: #A49393;
    color: #67595E;
}
@media (max-width:700px){
	.logo{
		font-size:48px;
		
	}
	.news-post {
		flex-direction:column;
	}
}
.qwer{
	float: right;
	padding:20px;
	margin: 0px 70px 0px 140px;
}
time{
	float: right;
	padding:20px;
	margin-left:100px;
}
	
}
.ty{
	margin-left:20px;
}
.ry{
	margin-left:20px;
}
.x{
	margin-left:20px;
}
.dropdown{
	margin-top:5px;
}
